.projects-container {
    width: calc(100vw - 60px);
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;
    
    img {
        width: 100%;
        height: 100%;
    }
    
}

@media screen and (max-width: 1200px) {
    .projects-container {
        width: calc(100vw);      
        margin-left: 0px;
        display: flex;
        align-items: stretch;
         img {
        width: 100%;
        height: 100%;
    }
    }  
}

@media screen and (max-width: 900px) {
    .projects-container {
        width: calc(100vw);      
        margin-left: 0px;
        display: flex;
        align-items: stretch;
         img {
        width: 100%;
        height: 100%;
    }
    }  
}

@media screen and (max-width: 678px) {
    .projects-container {
        width: calc(100vw);
        margin-left: 0px;
        display: flex;
        flex-wrap: wrap;  
    }  
}



